img.logo{
    max-width: 50px;
}

md-card.register-card{
    width: 36%;
    max-width: 380px;
    min-width: 320px;
    float: right;
    margin: 8px;
}

.card-header-avatar{
    background: #bde9ff url('/assets/bee-flat-icon.svg') center/70% no-repeat;
}